<div style="padding-top: 20px;">
  <div ng-if="emoji == 'cactus'">
    <img style="width: {[ x ]}; height: {[ y ]}; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='assets/images/cactus.png') }}" />
  </div>

  <div ng-if="emoji == 'heart'">
    <img style="width: {[ x ]}; height: {[ y ]}; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='assets/images/green_heart.png') }}" />
  </div>

  <div ng-if="emoji == 'cone'">
    <img style="width: {[ x ]}; height: {[ y ]}; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='assets/images/snow_cone.png') }}" />
  </div>

  <div ng-if="emoji == 'bouquet'">
    <img style="width: {[ x ]}; height: {[ y ]}; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='assets/images/bouquet.png') }}" />
  </div>

  <div ng-if="emoji == 'rocket'">
    <img style="width: {[ x ]}; height: {[ y ]}; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='assets/images/rocket.png') }}" />
  </div>

  <div ng-if="emoji == 'rose'">
    <img style="width: {[ x ]}; height: {[ y ]}; display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='assets/images/rose.png') }}" />
  </div>
</div>
