<md-dialog aria-label="Respond to Support Ticket" ng-cloak>
  <form action="/support/respond" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Respond to Support Ticket</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          X
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container aria-label="Repsonse" style="width: 100%;">
          <label>Response</label>
          <input name="response" ng-model="response">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button type="submit" style="margin-right:20px;">
        Send
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
