<sidenav>
    <md-card>
        <md-card-title class="size-2">Commands</md-card-title>
        <md-card-subtitle class="size-5">Edit Commands</md-card-subtitle>

        <div style="display: flex; justify-content: center; align-items: center;">
            <button md-raised-button color="primary" style="width: 70%; margin-bottom: 1%">Create Command</button>
        </div>

        <md-card-content>
            <div class="column">
                <div class="row">
                    <md-card class="app-input-section" 
                        style="width: 90%; margin-bottom: 0.5%; margin-left:auto; margin-right:auto"
                        (mouseenter)="toggleControls()" (mouseleave)="toggleControls()">
                        <div class="column">
                            <div class="row">
                                <md-input placeholder="Command" value="potato" style="width: 15%" [disabled]="true"></md-input>
                                <div style="margin-right: 1%"></div>
                                <md-input placeholder="Response" value="Salad!" style="width: 85%"></md-input>
                                <md-icon md-list-avatar style="margin-top: 1.3%">delete_forever</md-icon>
                            </div>

                            <div class="row" style="margin-left: auto; margin-right: auto" *ngIf="showControls">
                                <md-slide-toggle>Enabled</md-slide-toggle>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </md-card-content>
    </md-card>
</sidenav>
