<sidenav>
    <md-card>
        <md-card-title class="size-2">Support</md-card-title>
        <md-card-subtitle class="size-5">Need some help? We can help.</md-card-subtitle>

        <h1 class="size-1">Having issues? We've gotchu, bb.</h1>
        <div style="display: flex; justify-content: center; align-items: center">
            <button 
                md-raised-button color="accent" style="width: 75%; margin-bottom: 1%"
                (click)="addingTicket = !addingTicket">
                Create Ticket
            </button>
        </div>

        <div *ngIf="addingTicket">
            <div class="column">
                <div class="row">
                    <md-input placeholder="Your problem" style="width: 85%"></md-input>
                </div>
                <div class="row" style="display: flex; justify-content: center; align-items: center">               
                    <button
                        md-raised-button
                        color="primary"
                        style="width: 50%"
                        (click)="addingTicket = false">
                            Create
                    </button>
                </div>
            </div>
            <hr style="margin: 2%" />
        </div>

        <md-card-content>
            <div class="column">
                <div class="row">
                    <md-card class="app-input-section" 
                        style="width: 75%; margin-bottom: 0.5%; margin-left:auto; margin-right:auto">
                        <md-list>
                            <md-list-item>
                                <md-icon md-list-avatar>person</md-icon>
                                <h4 md-line>My bot won't start</h4>
                                <p md-line>Recent response: lolhi</p>
                                <button md-raised-button color="accent">View</button>
                            </md-list-item>
                        </md-list>
                    </md-card>
                </div>
            </div>
        </md-card-content>
    </md-card>
</sidenav>
