* {
  margin: 0px;
  padding: 0px;
}

#container { }

#container #header {
  color: white;

  z-index: 100;

  position: absolute;
  left: 175px;
  right: 0;
  height: 35px;

  background-color: #2c3e50;
}

#container #header #user {
  text-align: right;
  font-size: 1em;
  padding-right: 10px;
  padding-top: 5px;
  font-family: Ubuntu, sans-serif;
}

#container #header #user #username {
  display: inline-block;
}

#container #header #user #userDrop {
  background-color: #3498db;
  color: white;
  font-family: Ubuntu, sans-serif;
  font-size: 1.5em;
  opacity: 0.8;
}

#container #header #user #userDrop #entry {
  color: white;
  text-align: center;
  font-size: 0.6em;
}

#container #corner {
  position: absolute;
  left: 0px;
  top: 0px;

  font-size: 2em;
  font-family: Ubuntu, sans-serif;

  background-color: #2c3e50;
}

#container #corner #cactus {
  color: #27ae60;
  display: inline-block;
  font-size: 0.89em;
  padding-left: 2px;
}

#container #corner #cpanel {
  color: white;
  display: inline-block;
  font-size: 0.89em;
}

#container #sidebar {
  position: absolute;
  left: 0;
  top: 35px;
  bottom: 0;
  width: 178px;

  background-color: #2c3e50;
}

#container #content {
  position: absolute;
  left: 178px;
  top: 35px;
  right: 0;
  bottom: 0;

  background-color: white;

  padding-left: 25px;
  padding-top: 20px;
}


#container #footer {
  position: absolute;
}
