<sidenav>
    <md-card>
        <md-card-title class="size-2">Alerts</md-card-title>
        <md-card-subtitle class="size-5">Change Chat Alerts</md-card-subtitle>

        <div style="margin-top: 2%"></div>

        <md-card-content>
            <div class="column">
                <div class="row">
                    <div style="width: 90%; margin-left:auto; margin-right:auto">
                        <md-card class="app-input-section">
                            <div class="column">
                                <h4 class="size-3">Follow Alert</h4>
                                <h5 class="size-subtext">Targets: %USERNAME%</h5>
                                <div style="margin-bottom: 1%"></div>
                                <div class="row">
                                    <md-input placeholder="Response" value="Thanks for following the channel, %USERNAME%!" style="width: 100%"></md-input>
                                </div>
                                <div style="margin-left:auto; margin-right:auto">
                                    <div class="row">
                                        <md-slide-toggle color="accent">Enabled</md-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </md-card>

                        <div style="margin-top: 2%"></div>
                
                        <md-card class="app-input-section">
                            <div class="column">
                                <h4 class="size-3">Sub Alert</h4>
                                <h5 class="size-subtext">Targets: %USERNAME%</h5>
                                <div style="margin-bottom: 1%"></div>
                                <div class="row">
                                    <md-input placeholder="Response" value="Thanks for subscribing to the channel, %USERNAME%!" style="width: 100%"></md-input>
                                </div>
                                <div style="margin-left:auto; margin-right:auto">
                                    <div class="row">
                                        <md-slide-toggle color="accent">Enabled</md-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </md-card>

                        <div style="margin-top: 2%"></div>
                    
                        <md-card class="app-input-section">
                            <div class="column">
                                <h4 class="size-3">Resub Alert</h4>
                                <h5 class="size-subtext">Targets: %USERNAME%, %MONTHS%</h5>
                                <div style="margin-bottom: 1%"></div>
                                <div class="row">
                                    <md-input placeholder="Response" value="Thanks for resubscribing to the channel, %USERNAME%!" style="width: 100%"></md-input>
                                </div>
                                <div style="margin-left:auto; margin-right:auto">
                                    <div class="row">
                                        <md-slide-toggle color="accent">Enabled</md-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</sidenav>
