#desktop {
  display: block;
}

#mobile {
  display: block;
}

#userInfoButton {
  position: fixed;
  bottom: 0;
}

#userInfo {
  position: fixed;
  bottom: 0;
  right: 0;
}

#disable-md-clickable .md-ripple-container {
    display: none;
}
