#desktop {
  display: block;
}

#mobile {
  display: block;
}

#userInfoButton {
  position: fixed;
  bottom: 0;
}

#userInfo {
  position: fixed;
  bottom: 0;
  right: 0;
}

.float-l {
    position: relative;
    margin: 0px;
    padding: 0px;
    float:left
}

.float-r {
    position: relative;
    margin: 0px;
    padding: 0px;
    float: right;
}

.flex-container {
    align-content: space-between;
}
