* {
    margin: 0px;
    padding: 0px;
}

.resp {
  width: 75%;
}

.cmd {
  width: 15%;
}

#cover {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

#widener {
  width: 100%;
}
