* {
  margin: 0px;
  padding: 0px;
}

#tabcont {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#resp {
  width: calc(100% + 300px);
  display: block;
}

#cmd {
  width: calc(100% - 300px);
  display: block;
}

#cmdListTable {
  width: 100%;
  display: inline-block;
}

#cmdT {
  width: 20%;
  display: inline-block;
}

#respT {
  width: 80%;
  display: inline-block;
}

#cover {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

#rightChat {
  right: 0;
  float: right;
  width: calc(100% - 1000px);
}

#rightLog {
  display: inline;
}
