* {
  margin: 0px;
  padding: 0px;
}

#resp {
  width: calc(100% + 300px);
  display: block;
}

#cmd {
  width: calc(100% - 300px);
  display: block;
}

#cmdListTable {
  width: 100%;
  display: inline-block;
}

#cmdT {
  width: 20%;
  display: inline-block;
}

#respT {
  width: 80%;
  display: inline-block;
}
