<md-dialog ng-app="GlobalApp" ng-controller="CommandController" aria-label="Create a Bot" ng-cloak>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Remove a Command</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
          <h5 class="md-display-2">Are you sure?</h5>
          <md-input-container class="md-block">
              <label>Command Name</label>
              <input ng-model="command.command">
              <h6 class="md-subhead">Type the name to confirm.</h6>
          </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="exit()" style="margin-right:20px;">
            Cancel
        </md-button>

        <md-button ng-click="create()" class="md-primary" style="margin-right:20px;">
            Confirm
        </md-button>
    </md-dialog-actions>
</md-dialog>

<script>
    // CSRF protection bro
    $SCRIPT_ROOT = {
        {
            request.script_root | tojson | safe
        }
    };
</script>
