<md-dialog aria-label="Create a Bot" ng-cloak>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create a Bot</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" ng-show="initial">
            <h4 class="md-display-1">Initial Setup</h4>
            <md-switch class="md-primary" md-no-ink aria-label="Do you want a custom bot?" ng-model="customAccount">
                Do you want a custom bot name?
            </md-switch>
            <div ng-show="customAccount">
                <h4 class="md-title">The following is steps to get a custom account for the bot:</h5>
                <h5 class="md-subhead">1: Log into Beam using the account you want to use.</h5>
                <h5 class="md-subhead">2: Press the "Login" button below.</h5>
                <md-button
                style="display: table; width: 50%; margin: 0 auto;"
                class="md-raised md-primary"
                ng-click="joining = true">Login</md-button>
            </div>
            <h6 class="md-subhead">If you don't want a custom account, we'll use the CactusBot one!</h6>
          </div>

          <div class="md-dialog-content" ng-show="joining">
              <div style="display: table; width: 50%; margin: 0 auto;">
                <h4 class="md-title">Attempting to join your channel...</h4>
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                {[ slowProceed(2) ]}  <!-- Temp -->
              </div>
          </div>

          <div class="md-dialog-content" ng-show="setup">

          </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-show="!customAccount" ng-click="joining = true" style="margin-right:20px;">
            Next
        </md-button>

        <md-button ng-show="!setup" ng-click="cancel()" style="margin-right:20px;">
            Skip setup
        </md-button>
    </md-dialog-actions>
</md-dialog>

<script>
    // CSRF protection bro
    $SCRIPT_ROOT = {
        {
            request.script_root | tojson | safe
        }
    };
</script>
