<md-dialog ng-app="GlobalApp" ng-controller="TicketController" aria-label="Create a Bot" ng-cloak>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Respond to a Support Ticket</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            Potato 1
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="exit()" style="margin-right:20px;">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>

<script>
    // CSRF protection bro
    $SCRIPT_ROOT = {
        {
            request.script_root | tojson | safe
        }
    };
</script>