<sidenav>
    <md-card>
        <md-card-title class="size-2">Commands</md-card-title>
        <md-card-subtitle class="size-5">Edit Commands</md-card-subtitle>

        <div style="display: flex; justify-content: center; align-items: center;">
            <button md-raised-button color="accent" style="width: 70%; margin-bottom: 1%">Create Quote</button>
        </div>

        <md-card-content>
            <div class="column">
                <div class="row">
                    <md-card class="app-input-section" 
                        style="width: 90%; margin-bottom: 0.5%; margin-left:auto; margin-right:auto">
                        <div class="column">
                            <div class="row">
                                <md-input placeholder="ID" value="1" style="width: 5%" [disabled]="true"></md-input>
                                <div style="margin-right: 1%"></div>
                                <md-input placeholder="Response" value="Salad!" style="width: 95%"></md-input>
                                <button md-icon-button>
                                    <md-icon class="md-24">
                                        delete_forever
                                    </md-icon>
                                </button>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </md-card-content>
    </md-card>
</sidenav>
