<div ng-app="GlobalApp" ng-controller="CommandController">
    <md-toolbar class="md-theme-light" style="box-shadow: 3px 3px 3px #888888">
        <h2 class="md-toolbar-tools">
    <span>Commands</span>
  </h2>
    </md-toolbar>
    <div flex ng-cloak>
        <div layout="row" layout-align="center center" style="padding-top: 1%">
            <md-button
            class="md-raised md-primary"
            ng-click="showCreate($event)"
            style="width: 50%">Create a Command</md-button>
        </div>
    </div>
    <div style="padding-bottom: 1%"></div>
    <md-content ng-cloak>
        <div layout="row" layout-align="center center">
            <div style="width: 85%">
                <md-card
                style="box-shadow: 1px 1px 1px #888888; margin-bottom: 1%;"
                ng-repeat="command in commands">
                  <md-card-content>
                    <md-input-container class="md-block">
                        <label>Command</label>
                        <input ng-model="command.command">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Response</label>
                        <input ng-model="command.response">
                    </md-input-container>
                  </md-card-content>
                  <md-card-actions layout="row" layout-align="center center">
                    <md-button class="md-secondary" ng-click="">Save</md-button>
                    <md-button class="md-secondary" ng-click="showRemove($event)">Remove</md-button>
                    <md-switch class="md-secondary" ng-model="command.enabled">
                      Enabled
                    </md-switch>
                  </md-card-actions>
                </md-card>

            </div>
        </div>
    </md-content>
</div>
