@import '~@angular/material/core/theming/all-theme';
@include md-core();

$primary: md-palette($md-green);
$accent: md-palette($md-purple, A200, A100, A400);

$warn: md-palette($md-red);

$theme: md-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
