@import '~@angular/material/core/theming/all-theme';
@include md-core();

$primary: md-palette($md-green, 600, 600, 600);
$accent: md-palette($md-green, 800, 800, 800);

$warn: md-palette($md-red);

$theme: md-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
