<div ng-app="IndexApp" ng-controller="IndexControl">
  <md-content class="md-padding">
    <h1 class="md-display-5">Support</h1>
    <div ng-cloak>
      <md-content>
        <div ng-controller="PopupControl" layout="row" layout-align="start center" flex>
          <md-button class="md-raised md-primary" ng-enabled="canSendSupportTicket" ng-click="showCreate($event)">Create Support Ticket</md-button>
          <span flex></span>
          <label id="search">Search tickets</label>
          <pad loc="right" amt="20"></pad>
          <md-input-container>
              <label>Search:</label>
              <input type="text" ng-model="searchString" ng-keydown="searchSupport($event)" />
          </md-input-container>
          <pad loc="right" amt="50"></pad>
        </div>

        <md-list>
          <md-list-item class="md-3-line " ng-repeat="item in tickets track by tickets.id">
            <div class="md-list-item-text ">
              <h3>Representative: {[ item.user ]}</h3>
              <p>Latest response: {[ item.latest ]}</p>
            </div>
            <div ng-controller="PopupControl">
              <md-button class="md-secondary" ng-click="showRespond($event)">Respond</md-button>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </md-content>
</div>
