<!-- Sidebar beginning-->
<md-sidenav-layout [class.m2app-dark]="isDarkTheme">
    <sidenav></sidenav>
    <md-card>
        <md-card-title class="size-2">Quick Tools</md-card-title>
        <md-card-subtitle class="size-5">Access to commonly used tools</md-card-subtitle>

        <md-card-content>
            <div class="row">
                <md-card class="app-input-section" style="margin-left: 1%">
                    <h5 class="size-4">Mod a User</h5>
                    <md-input placeholder="Username"></md-input>
                    <button md-raised-button color="primary">Run</button>
                </md-card>

                <md-card class="app-input-section" style="margin-left: 1%">
                    <h5 class="size-4">Ban a User</h5>
                    <md-input placeholder="Username"></md-input>
                    <button md-raised-button color="primary">Run</button>
                </md-card>

                <md-card class="app-input-section" style="margin-left: 1%">
                    <h5 class="size-4">Purge a User</h5>
                    <md-input placeholder="Username"></md-input>
                    <button md-raised-button color="primary">Run</button>
                </md-card>

                <md-card class="app-input-section" style="margin-left: 1%">
                    <h5 class="size-4">Timeout a user</h5>
                    <md-input placeholder="Username"></md-input>
                    <md-input placeholder="Time(s)"></md-input>
                    <button md-raised-button color="primary">Run</button>
                </md-card>
            </div>
        </md-card-content>
    </md-card>

</md-sidenav-layout>
