<sidenav>
    <md-card>
        <md-card-title class="size-2">Quick Tools</md-card-title>
        <md-card-subtitle class="size-5">Access commonly used tools</md-card-subtitle>

        <md-card-content>
            <div class="column">
                <md-list>
                    <md-list-item *ngFor="let action of actions">
                        <md-icon md-list-avatar>{{ action.icon }}</md-icon>
                        <h4 md-line>{{ action.name }}</h4>
                        <p md-line>{{  action.subtext }}</p>
                        <button md-raised-button color="primary" [routerLink]="['/' + action.route]">View</button>
                    </md-list-item>
                </md-list>
            </div>
        </md-card-content>
    </md-card>
</sidenav>
