<html>
<head>
  <!-- Temp setting "username" -->
  <title>Dashboard - {{ '{{ username }}' }}</title>

  <!-- CSS, and js things and stuffs. -->

  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/angular.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/commands.css') }}">
  <script src="{{ url_for('static', filename='js/angular/CommandMain.js') }}"></script>
  <script src="{{ url_for('static', filename='js/angular/IndexMain.js') }}"></script>
</head>

<body>
  <div id="container">
    <div id="header">
      <div id="user">
        <div ng-app="IndexApp" ng-controller="IndexControl" id="username" ng-mouseenter="userHover()" ng-mouseleave="userHover()">
          {{ '{{ username }}' }}

          <div id="userDrop" ng-show="showUserHover">
            <p id="entry">
              <a href="/settings">Settings</a>
            </p>

            <p id="entry">
              <a href="/logout">Logout</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="corner">
      <h1 id="cactus">Cactus</h1>
      <h1 id="cpanel">Panel</h1>
    </div>

    <div id="content">
      <table ng-app="CommandApp" ng-controller="CommandControl">
        <tr>
          <td>
            Command
          </td>
          <td>
            Repsonse
          </td>
          <td>
            Calls
          </td>
          <td>
            Permission Level
          </td>
        </tr>

        <tr ng-repeat="command in CommandList">
          <td>
              {{ '{{ random }}' }}
          </td>
          <td>
            {{ ' {{ command.response }} ' }}
          </td>
          <td>
            {{ '{{ command.calls }}' }}
          </td>
          <td>
            {{ '{{ command.perm }}' }}
          </td>
        </tr>
      </table>
    </div>

    <div id="sidebar">

    </div>
  </div>
</body>
</html>
