<html>
<head>
  <title>Cactus panel - CactusDev</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/angular.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/angular-route.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/angular/GlobalController.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/libs/angular-material.min.js') }}"></script>
  <!--
  <script type="text/javascript" src="/app/static/js/libs/angular-aria.min.js"></script>
  <script type="text/javascript" src="/app/static/js/libs/angular-messages.min.js"></script>
  <script type="text/javascript" src="/app/static/js/libs/jquery.min.js"></script>
   -->

</head>

<body>
  <div ng-app="GlobalApp" ng-controller="GlobalController">
    {[ vm.stuff ]} <!-- Testing stuff -->
  </div>
</body>
</html>
