<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>
<body>
    <div id="register">
      {{ form.csrf_token }}
      {{ form.username.label }} {{ form.username(size=32) }}
      <br />
      {{ form.email.label }}{{ form.email }}
      <br />
      {{ form.recaptcha }}
      <br />
      <p>
        All set?
      </p>
      <button id="submit">Register!</button>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
        $CSRF_TOKEN = '{{ csrf_token() }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>
